flask==3.0.0    #Flask voor koppeling front-end .html-bestanden met .py-bestanden
eventlet        #Voor laadbalk en runnen in productie
flask-socketio  #Voor SQLite-database met SQLAlchemy
SQLAlchemy      #Database benodigdheden
#lxml           #Voor .xml-bestanden inlezen (.sev is een .xml formaat), bekijk: https://www.geeksforgeeks.org/reading-and-writing-xml-files-in-python/
datetime        #Handige datumpackage