flask==3.0.0    #Flask is needed, see "LEES_MIJ"
flask-socketio  #Needed for setup SQLite-database with SQLAlchemy
SQLAlchemy      #Database essential
#lxml            #further support for reading xml-files (.sev is a .xml) next to "xml"-corepackage, see: https://www.geeksforgeeks.org/reading-and-writing-xml-files-in-python/
