<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">

    <script>
        // Set cursor to 'progress' when a form is submitted
        document.addEventListener('submit', function () {
            document.documentElement.classList.add('progress');
        });

        // Change it back to the default cursor when the content is fully loaded
        document.addEventListener('DOMContentLoaded', function () {
            document.documentElement.classList.remove('progress');
        });
    </script>
</head>
<body>
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ url_for('home') }}">
                    <i class="bi bi-person"></i>
                    <span>Home</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ url_for('upload') }}">
                    <i class="bi bi-gear"></i>
                    <span>Upload</span>
                </a>
            </li>
        </ul>
    </aside>

    <main id="main" style="padding-left: 64px; padding-top: 0;">
        <header>
            <!-- Add the search form here -->
            <form action="{{ url_for('search') }}" method="get" style="margin-bottom: 20px;">
                <input type="text" name="query" placeholder="Voer zoekterm in" style="padding: 8px; font-size: 16px;">
                <button type="submit" style="padding: 8px 16px; font-size: 16px;">Zoeken</button>
            </form>
        </header>

        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>
</html>
