{% extends "base_template.html" %}
{% block content %}
    <h1>Homepagina</h1>
    <h3>Welkom!</h3>
    <p>Klik op de knop "uploaden" hieronder om naar de uploadpagina te gaan en een wedstrijd te uploaden vanaf de computer.
        De uploadpagina is ook altijd toegankelijk is via de zijbalk!</p>
    <a href="{{ url_for('upload') }}" class="button-styling">Uploaden</a>
    <p>Er is ook de mogelijkheid om statistieken in te zien via "Statistieken" in de zijbalk en een nieuwe ronde/wedstrijd aan te maken via "Aanmaken" in de zijbalk.</p>
{% endblock %}