{% extends "base_template.html" %}

{% block content %}
    <h1>Zoek in XML-data</h1>

    <form method="POST" action="/specific_search">
        <label for="table_name">Tabelnaam (optioneel):</label>
        <input type="text" id="table_name" name="table_name" placeholder="Tabelnaam" />

        <label for="search_term">Zoekterm:</label>
        <input type="text" id="search_term" name="search_term" required>

        <button type="submit">Zoeken</button>
    </form>

    <h2>Beschikbare tabellen:</h2>
    <ul>
        {% for table in tables %}
            <li>{{ table }}</li>
        {% endfor %}
    </ul>

    {% if result %}
    <h2>Zoekresultaten voor "{{ search_term }}" in "{{ table_name }}":</h2>
    <pre>{{ result }}</pre>
    {% else %}
    <p>Geen resultaten gevonden voor "{{ search_term }}" in "{{ table_name }}".</p>
    {% endif %}
{% endblock %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var searchInput = document.getElementById('search_term');
        var dataList = document.createElement('datalist');
        dataList.id = 'search_suggestions';
        searchInput.setAttribute('list', 'search_suggestions');
        searchInput.parentNode.appendChild(dataList);

        searchInput.addEventListener('input', function() {
            var tableName = document.getElementById('table_name').value;
            var searchTerm = this.value;
            console.log(`Zoekterm ingevoerd: ${searchTerm}`);

            if (searchTerm.length > 0) {
                fetch(`/search_suggestions?table_name=${encodeURIComponent(tableName)}&search_term=${encodeURIComponent(searchTerm)}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(`Ontvangen suggesties: ${JSON.stringify(data)}`);
                        dataList.innerHTML = '';
                        data.forEach(suggestion => {
                            var option = document.createElement('option');
                            option.value = suggestion;
                            dataList.appendChild(option);
                        });
                    })
                    .catch(error => {
                        console.error('Fout bij het ophalen van suggesties:', error);
                    });
            } else {
                dataList.innerHTML = '';
            }
        });
    });

</script>
