{% extends "base_template.html" %}

{% block content %}
    <h1>Statistieken voor: {{ table_name }}</h1>
    
    <!-- Tabel met statistieken -->
    <table border="1">
        <thead>
            <tr>
                {% for column in statistics[0].keys() %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in statistics %}
                <tr>
                    {% for value in row.values() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
