{% extends "base_template.html" %}

{% block content %}
    <h1>Spelersdata: {{ table_name }}</h1>
    
    <!-- Zoekbalk voor statistieken -->
    <div>
        <form action="{{ url_for('view_statistics') }}" method="get">
            <input type="text" name="query" placeholder="Zoekterm">
            <button type="submit">Zoeken</button>
        </form>
    </div>

    <!-- Tabel met speler gegevens -->
    <table border="1">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
